<div class="container-fluid">

    <br>
        <h2> Joe Versoza Sample Documents</h2>
  <br>
    
<div class="list-group">
    <a href="http://jvers.com/csci-ua.0480-spring2018-008/syllabus.html" class="list-group-item">Syllabus</a>
    <a href="http://jvers.com/csci-ua.0480-spring2018-008/homework/01.html" class="list-group-item">Sample Programming Assignment</a>



</div>



</div>
