
<div class="container-fluid">

    <br>
        <h2> Anasse Bari Sample Documents</h2>
  <br>
    
<div class="list-group">
    <a href="/img/data_structureSyllabus.pdf" class="list-group-item">Sample Lecture Slides</a>
    <a href="/img/data_structureSyllabus.pdf" class="list-group-item">Sample Homework</a>


</div>



</div>
