
<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">

  <a href="/basic-algo-pogudin" class="list-group-item">Gleb Pogudin</a>
 <a href="/basic-algo-shoup" class="list-group-item">Victor Shoup</a>

</div>


</div>
