<div class = "container-fluid">
    <h2>Requirements</h2>
    <br><br>
<div class="list-group">
  <a href="/intro-to-prog" class="list-group-item">Introduction to Computer Programming (exemption test available)</a>
  <a href="/intro-to-comp-sci" class="list-group-item">Introduction to Computer Science (exemption test available)</a>
  <a href="/data-structures" class="list-group-item">Data Structures </a>
  <a href="/discrete-math" class="list-group-item">Discrete Math </a>
  <a href="/basic-algo" class="list-group-item">Basic Algorithms </a>
  <a href="/cso" class="list-group-item">Computer Systems Organization</a>
    <a href="/os" class="list-group-item">Operating Systems</a>

</div>
<br>
<h2>Advanced Electives</h2>
<br>
<div class="list-group">
  <a href="/linear-algebra" class="list-group-item">Linear Algebra</a>
  <a href="/machine-learning" class="list-group-item">Introduction to Machine Learning </a>
  <a href="/ait" class="list-group-item">Applied Internet Technology</a>


</div>
<br>

<br><br>

</div>
