<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">


  <a href="/data-structures-Bari" class="list-group-item">Anasse Bari</a>
    <a href="/data-structures-moody" class="list-group-item">Douglas Moody</a>
     <a href="/data-structures-kuklowska" class="list-group-item">Joanna Kuklowska</a>

</div>


</div>
