<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">

  <a href="/discrete-math-nguyen" class="list-group-item">Thang Nguyen</a>
    <a href="/discrete-math-lushi" class="list-group-item">Dr. Enkeleida Lushi </a>

</div>


</div>
