
<div class="container-fluid">

    <br>
        <h2> Alan Gottlieb Sample Documents </h2>
  <br>
    
<div class="list-group">

    <a href="/img/gottlieb-hw.png" class="list-group-item">Sample Homework</a>
    <a href="/img/gottlieb-lab.pdf" class="list-group-item">Sample Lab</a>



</div>



</div>
