<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">

  <a href="/intro-to-comp-sci-bloomberg" class="list-group-item">Amos Bloomberg</a>
</div>


</div>
