
<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">
      <a href="https://cs.nyu.edu/courses/spring17/CSCI-UA.0004-001/common-syllabus/" class="list-group-item">* Common Syllabus *</a>

  <a href="/intro-to-prog-clayton" class="list-group-item">Joshua Clayton</a>
    <a href="/intro-to-prog-versoza" class="list-group-item">Joe Versoza</a>

</div>


</div>
