
<div class="container-fluid">

    <h2>Professors</h2>
    <br>
  <br>
    
<div class="list-group">

  <a href="/linear-algebra-shum" class="list-group-item">Fanny Shum</a>
    <a href="/linear-algebra-stein" class="list-group-item">Daniel L. Stein</a>


</div>


</div>
