
<div class="container-fluid">

    <br>
        <h2> Gleb Pogudin Sample Documents </h2>
  <br>
    
<div class="list-group">
    <a href="https://cs.nyu.edu/courses/fall18/CSCI-UA.0310-005/" class="list-group-item">Course Page</a>

    <a href="/img/pogudin-hw.pdf" class="list-group-item">Sample Homework</a>


</div>



</div>
