<div class="container-fluid">

    <br>
        <h2> Daniel L. Stein Sample Documents </h2>
  <br>
    
<div class="list-group">
    <a href="/img/stein-syllabus.pdf" class="list-group-item">Syllabus</a>
    <a href="/img/stein-hw.pdf" class="list-group-item">Sample Homework</a>



</div>



</div>