
<div class="container-fluid">

    <br>
        <h2> Joe Versoza Sample Documents</h2>
  <br>
    
<div class="list-group">
    <a href="https://cs.nyu.edu/courses/spring18/CSCI-UA.0002-003/common_syllabus/" class="list-group-item">Syllabus</a>

</div>



</div>
